{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>

    <title>information kiosk</title>
  </head>
  <body class="bg-color pt-3">
    <div class="container alert alert-success">
      <div class="row">
      <div class="col-3 pull-left">
      </h1><a style="text-decoration: none; color: inherit;"href="{% url 'home' %}"><h1>Menu</h1></a>
      <ul class="list-unstyled">
          <li><a class="btn btn-outline-secondary btn-block" style="font-size: 1.5vw;"href="{% url 'information' %}"><img src="{% static 'img/icons8-faq-200.png' %}" alt="icon" height="64" width="64" class="img-fluid"/><br/>Frequently Asked Question</a></li>
          <li><a class="btn btn-outline-secondary btn-block mt-2" style="font-size: 1.5vw;"href="{% url 'school_map' %}"><img src="{% static 'img/icons8-map-64.png' %}" alt="icon" height="64" width="64" class="img-fluid"/><br />School map</a></li>
          <li><a class="btn btn-outline-secondary btn-block mt-2" style="font-size: 1.5vw;" href="{% url 'departments' %}"><img src="{% static 'img/icons8-department-80.png' %}" alt="icon" height="64" width="64" class="img-fluid"/><br />Departments</a></li>
          <li><a class="btn btn-outline-secondary btn-block mt-2" style="font-size: 1.5vw;"href="{% url 'office' %}"><img src="{% static 'img/icons8-office-96.png' %}" alt="icon" height="64" width="64"class="img-fluid"/><br />Offices</a></li>
          <li><button class="btn btn-outline-secondary btn-block mt-2" style="font-size: 1.5vw;" onclick="javascript:history.go(-1);"><img src="{% static 'img/back.png' %}" alt="icon" height="64" width="64"class="img-fluid"/><br />Back Previous Page</button></li>
      </ul>
      </div>
      
    <div class="pull-left col-8">
    {% block content %}
    {% endblock content %}
    </div>
    </div>
    </div>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>