{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>{{ department }}</h1>
        <div class="row">
        {% for object in object_list %}
          <div align="center" class="col">
            <a style="text-decoration: none;" href="{% url 'faculty_detail' object.pk %}">
            <img src="{{ object.photo.url }}" height="130" width="130"/>
            <p>{{object.name}} {{object.lastname}}</p>
            </a>
            </div>
        {% endfor %}
        </div>
{% endblock content %}



